/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/03/2017, 11:52:19
    Author     : rafael.carvalho
*/
/*
fonte: https://code.tutsplus.com/tutorials/the-30-css-selectors-you-must-memorize--net-16048*/


/*Elements*/
li{}
/*Class*/
.hello{}
/*ID*/
#name{}
/*Star*/
*{border: 1px solid lightgrey;}
/*Descendente*/
li a{color: red;}
/*Adjacente*/
h4+ul{border: 4px solid red;}
/*Attribute Selectors*/
a[href="http://www.google.com"]{
	background: blue;
}
/*nth of type*/
li:nth-of-type(even){background: purple;}

